<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="/images/ProCaseLogo.png" />

	<title> Mercado Liebre Argentina</title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"> 
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/register.css">
</head>

<body>
	<%- include('./partials/header') %>
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
					<form action="/users/profile" method="get" class="formulario-login" >
						<div class="divlog">
							<label for="email" class="form-label">Usuario (Email): </label>
							<input type="email" name="email" id="email" class="form-input" required>
						</div>
						<div class="divlog">
							<label for="Contrasenia" class="form-label" >Contraseña: </label>
							<input type="password" name="Contrasenia" id="Contrasenia" class="form-input" required>
						</div>
						<div class="checkboxdiv">
							<input type="checkbox" name="recordame" value="recordame" class="checkbox">
							<label for="Recordame" class="recordame">Recordame</label>
						</div>
						<div class="divlog">
							<button class="form-button" type="submit">Ingresar</button>
						</div>
					</form>
			</h2>


	<%- include('./partials/footer') %>

</body>

</html>