<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head') %>

<body>
	<%- include('./partials/header') %>
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
					<form action="/users/profile" method="get" class="formulario-login" >
						<div class="divlog">
							<label for="email" class="form-label">Usuario (Email): </label>
							<input type="email" name="email" id="email" class="form-input" required>
						</div>
						<div class="divlog">
							<label for="Contrasenia" class="form-label" >Contraseña: </label>
							<input type="password" name="Contrasenia" id="Contrasenia" class="form-input" required>
						</div>
						<div class="checkboxdiv">
							<input type="checkbox" name="recordame" value="recordame" class="checkbox">
							<label for="Recordame" class="recordame">Recordame</label>
						</div>
						<div class="divlog">
							<button class="form-button" type="submit">Ingresar</button>
						</div>
					</form>
			</h2>

	<%- include('./partials/footer') %>

</body>

</html>